{% extends "base.html" %}
{% block resto %}
        <div class="container">
              <div class="theme">
                <br/> <br/> <br/>
                <div class="row" style="height:100vh;">
                    <p> Matches for <b>{{output.main_name}}</b></p>
                    <table class="table table-striped table-hover">
          <thead>
        {% for z in output.matches %}
            <tr>
              <td>{{z.Name}}</td>
                 <td>{{z.Score}}</td>
                <td>{{z.URL}}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>

        </div>
      </div>

    </div>

{% endblock %}